{{!< default}}

{{#contentFor 'title'}}{{ meta_title }}{{/contentFor}}

{{#post}}
{{#if feature_image}} <div
    class="c-post-image-header-template">
    <div class="c-post-image-header-template__wrap">
        <img alt="{{#if feature_image_alt}}{{ feature_image_alt }}{{ else }}{{ title }}{{/if}}"
            class='c-post-image-header-template__img lazyload' style="width: 100%; height: 100%; object-fit: cover;"
            data-srcset='
                {{ img_url feature_image size=' ml' }} 320w, {{ img_url feature_image size='lg' }} 636w, {{ img_url
            feature_image size='xl' }} 1272w, {{ img_url feature_image size='xxl' }} 2640w'
            data-src='{{ img_url feature_image size=' xxl' }}' />
    </div>
    <div class="c-post-header__title c-post-image-header-template__title_and_excerpt">
        <div class="c-post-image-header-template__fixed_div">
        <div class="c-post-image-header-template__title">{{title}}</div>
        <div class="c-post-image-header-template__excerpt">{{excerpt}}</div>
    </div>
    </div>
    </div>
    {{/if}}
<div class='o-grid'>
  <div class='o-grid__col o-grid__col--center o-grid__col--9-10-m o-grid__col--3-4-l'>
    <article class='c-{{ post_class }}'>
      <header class='c-post-header'>

  {{#if custom_excerpt}}
    <p class='c-post-header__excerpt'>{{ custom_excerpt }}</p>
  {{/if}}

  {{#is 'post'}}
    <div class='c-post-header__meta'>
      {{#primary_author}}
          {{#if profile_image}}
            <div class='c-post-header__author_media'>
              <img class='c-post-header__author_image lazyload' data-src='{{ img_url profile_image size='profile-image-small' }}' alt='{{ name }}' width='32' height='32'>
            </div>
          {{/if}}
          <div class='c-post-header__author_info'>
            <div class='c-post-header__author_name'>{{ name }}</div>{{/primary_author}}
            <time class='c-post-header__date' datetime='{{ date format='YYYY-MM-DD' }}'>{{ date format='YYYY-MM-DD' }}</time>
             - 
            <span class='c-post-header__reading-time'>{{ reading_time minute=(t '1 min read') minutes=(t '% min read') }}</span>

            {{#if (not @site.comment_read_permission "none")}}
              - 
              {{#if comment_count}}
              <span class='c-post-header__comment comment-count-{{comment_count}}'><a class="byline-comments" href="{{url}}comments" data-portal="comment" data-post-uuid="{{uuid}}">댓글 {{comment_count}}개 보기</a></span>
              {{else}}
              <span class='c-post-header__comment comment-count-0'><a class="byline-comments" href="{{url}}comments"data-portal="comment" data-post-uuid="{{uuid}}">댓글 남기기</a></span>
              {{/if}}
            {{/if}}
          </div>
    </div>
  {{/is}}
</header>

      {{!-- Show the tags, share, author, subscribe box, and comments if visitor can access the post, this means that:
      1. The post is public for anyone
      2. The post is published for subscribers and the visitor is a subscriber
      3. The post is for paid members only and the visitor is a paid member --}}
      {{#if access}}
        <section class='c-content'>
          {{ content }}
        </section>

        {{bluedot_comment_button}}

        {{#if tags}}
          <section class='c-tags'>
            {{ tags separator='' }}
          </section>
        {{/if}}

        {{> share }}

        {{#primary_author}}
          {{> card-author }}
        {{/primary_author}}

        {{!-- If the post is published for members and paid members and the visitor is not one of those, show the upgrade box --}}
        {{#unless @member}}
          {{#if access}}

            {{> subscribe-form-n inputLabel='subscribe-email-post'}}

          {{/if}}
        {{/unless}}

      {{!-- If the post is published for members and paid members and the visitor is not one of those, show the upgrade box --}}
      {{else}}
          <!-- from bluedot -->
          {{bluedot_paywall}}
      {{/if}}
    </article>
  </div>
</div>

{{bluedot_paywall_popup}}

{{/post}}

  <div class="o-grid">
  {{#if @site.visible_related_post}}
    {{> related-posts}}
  {{/if}}
  </div>
  <div class="o-grid">
    {{#if @site.post_visible_shop_section}}
  <section class="c-home-shop-section">
    <div class="c-home-products-carousel">
      <div class="o-grid">
        <div class="o-grid__col o-grid__col--full">
          {{> common/products/carousel-section which="home" nav="true" title=@site.shop_section_title }}
        </div>
      </div>
    </div>
  </section>
  {{/if}}
  </div>